html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #2d3c49;
    /*height of sticky-footer*/
}

a {
    color: inherit;
    word-wrap: break-word;
}

h2 {
    font-weight: 300;
    color: #7d97ad;
}

h3 {
    margin: 0.5em auto;
    font-weight: bold;
}

.header_logo {
    display: inline-block;
    width: 5em;
    -webkit-animation: fa-spin 3s infinite linear;
    animation: fa-spin 3s infinite linear;
}

.hr-rule {
    border-bottom: 4px solid #7d97ad;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.feature_img {
    width: 300px;
    transition: 0.3s;
}

.feature_img:hover {
    cursor: pointer;
    margin-top: 1em;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.feature_img:hover:after {
    margin-top: 0;
    width: 0;
}


/*sticky footer*/

.featured_work {
    margin-bottom: -60px;
}

.featured_work:after {
    height: 60px;
    content: "";
    display: block;
}

.footer {
    position: absolute;
    width: 100%;
    /*margin-bottom: 10px;*/
    bottom: 0;
    height: 50px;
    font-size: 32px;
}

.footer_item {
    color: inherit;
    transition: 0.3s;
    margin: auto 0.5em;
}

.footer_item:hover {
    color: inherit;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.footer_item:hover:after {
    width: 0%;
}


/*custom bootstrap responsive text classes*/

.text-xs-center {
    text-align: center;
}

@media (min-width: @screen-md-min) {
    .text-md-left {
        text-align: left;
    }
}
